.head {
  text-align: left;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
}

.box {
  display: flex;
}

.box_img {
  background-image: linear-gradient(to top right, #fff5c8, white);
  width: 800px;
  height: 550px;
  margin-left: 10px;
}

.right_box {
  margin-left: 100px;
}

.right_box > p {
  color: #828388;
}

.form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 20px;
}

.formdiv {
  display: flex;
  text-align: center;
  align-items: center;
  height: 50px;
  border: 2px solid gray;
  border-radius: 5px;
}

.mob {
  display: flex;
  flex-direction: row;
  background-color: #d6d6d6;
  margin-left: 2px;
}

.main_head {
  font-size: 20px;
  font-weight: 600;
}

.inp {
  width: 300px;
  height: 100%;
}

.btn {
  margin-top: 25px;
  width: 370px;
  height: 50px;
  background-color: #42a2a2;
  color: aliceblue;
  border: none;
  border-radius: 10px;
}

/* for fullSignUp */

.big {
  width: 100%;
  height: 570px;
  background-image: linear-gradient(to top right, #fff5c8, white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.useCode {
  width: 21%;
  height: 400px;
  /* margin-left: 100px; */
}

.signup {
  width: 31%;
  padding: 40px;
  padding-top: 20px;
  background-color: white;
  text-align: left;
}

/* label {
    color: #999;
    transform: translate(0.25rem, -1.5rem);
    transition: all 0.2s ease-out;
  }

  input:focus + label {
    color: #111;
    transform: translate(0, -2.75rem);
  } */

.t1 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 22px;
  /* align-items: left; */
}

.t2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 22px;
}

.signForm {
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 30px;
  margin-top: 25px;
  /* border: 1px solid red;  */
  margin-left: 30px;
}

.inp_box {
  border: 1px solid #828388;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.sub {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #989898;
  color: white;
}

